<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Front Desk</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Schedule
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="//localhost:6100/clients">
                <span class="oi oi-people" aria-hidden="true"></span> Clients
            </a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="//localhost:6100/doctors">
                <span class="oi oi-people" aria-hidden="true"></span> Doctors
            </a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="//localhost:6100/rooms">
                <span class="oi oi-list" aria-hidden="true"></span> Rooms
            </a>
        </li>
    </ul>
    <hr />
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <a class="nav-link" href="//localhost:7100/">
                <span class="oi oi-globe" aria-hidden="true"></span> Public Site
            </a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="//localhost:37409/">
                <span class="oi oi-envelope-closed" aria-hidden="true"></span> Sent Emails
            </a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="//localhost:15673/">
                <span class="oi oi-envelope-open" aria-hidden="true"></span> RabbitMQ
            </a>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
