@{
    ViewBag.Title = "Vet Clinic";
}

<div class="jumbotron">
    <h1>Your Vet Clinic</h1>
    <p class="lead">Taking great care of your pets</p>
    <p>This app serves as the clinic's public web site and would include their address, phone number, hours, pictures, etc. If their public web site were hosted elsehwere, this could just be a "headless" utility web app.</p>
</div>
<div>
    Test Utilities
    <ul>
        <li><a href="/Home/TestEmail">Send Test Email Message</a></li>
        <li><a href="http://localhost:@ViewBag.PapercutManagementPort">Papercut Management</a></li>
    </ul>
</div>

