@{
    ViewBag.Title = "Vet Clinic";
}

<div class="jumbotron">
    <h1>Your Vet Clinic</h1>
    <p class="lead">Taking great care of your pets</p>
    <p>This app serves as the clinic's public web site and would include their address, phone number, hours, pictures, etc. If their pubilc web site were hosted elsehwere, this could just be a "headless" utility web app.</p>
</div>

