@page "/"

<Toast />

<h1>Clinic Management</h1>

<ul>
    <li><a href="clients">Clients</a></li>
    <li><a href="doctors">Doctors</a></li>
    <li><a href="rooms">Rooms</a></li>
    <li>Patients</li>
    <li>Appointment Types</li>
</ul>
