
@{
    ViewBag.Title = "Confirm";
}

<div class="jumbotron">
    <h1>Your Vet Clinic</h1>
    <p class="lead">Taking great care of your pets</p>
    <h2>Appointment Confirmed!</h2>
    <p>Thanks! We'll see you and your pet soon!</p>
</div>
