<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<packageRestore>
		<!-- Allow NuGet to download missing packages -->
		<add key="enabled" value="True" />

		<!-- Automatically check for missing packages during build in Visual Studio -->
		<add key="automatic" value="True" />
	</packageRestore>

	<!--
        Used to specify the default Sources for list, install and update.
        See: nuget.exe help list
        See: nuget.exe help install
        See: nuget.exe help update
    -->
	<packageSources>
		<add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="infolder" value="../FrontDesk.Blazor/deps" />
		<!--<add key="nuget.telerik" value="https://nuget.telerik.com/nuget" />-->
	</packageSources>

	<!-- Used to store credentials -->
	<packageSourceCredentials>
		<!--<nuget.telerik>
			<add key="Username" value="your user name" />
			<add key="ClearTextPassword" value="you password" />
			<add key="ValidAuthenticationTypes" value="basic" />
		</nuget.telerik>-->
	</packageSourceCredentials>


</configuration>